@font-face {
  font-family: "Proxima Nova";
  src: url("./proxima-nova-medium.eot");
  src: url("./proxima-nova-medium.eot?#iefix") format("embedded-opentype"),
    url("./proxima-nova-medium.woff2") format("woff2"), url("./proxima-nova-medium.woff") format("woff"),
    url("./proxima-nova-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("./proxima-nova-regular-italic.eot");
  src: url("./proxima-nova-regular-italic.eot?#iefix") format("embedded-opentype"),
    url("./proxima-nova-regular-italic.woff2") format("woff2"), url("./proxima-nova-regular-italic.woff") format("woff"),
    url("./proxima-nova-regular-italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("./proxima-nova-bold.eot");
  src: url("./proxima-nova-bold.eot?#iefix") format("embedded-opentype"),
    url("./proxima-nova-bold.woff2") format("woff2"), url("./proxima-nova-bold.woff") format("woff"),
    url("./proxima-nova-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("./proxima-nova-regular.eot");
  src: url("./proxima-nova-regular.eot?#iefix") format("embedded-opentype"),
    url("./proxima-nova-regular.woff2") format("woff2"), url("./proxima-nova-regular.woff") format("woff"),
    url("./proxima-nova-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("./proxima-nova-semibold.eot");
  src: url("./proxima-nova-semibold.eot?#iefix") format("embedded-opentype"),
    url("./proxima-nova-semibold.woff2") format("woff2"), url("./proxima-nova-semibold.woff") format("woff"),
    url("./proxima-nova-semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("./proxima-nova-extrabold.eot");
  src: url("./proxima-nova-extrabold.eot?#iefix") format("embedded-opentype"),
    url("./proxima-nova-extrabold.woff2") format("woff2"), url("./proxima-nova-extrabold.woff") format("woff"),
    url("./proxima-nova-extrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("./proxima-nova-medium-italic.eot");
  src: url("./proxima-nova-medium-italic.eot?#iefix") format("embedded-opentype"),
    url("./proxima-nova-medium-italic.woff2") format("woff2"), url("./proxima-nova-medium-italic.woff") format("woff"),
    url("./proxima-nova-medium-italic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("./proxima-nova-semibold-italic.eot");
  src: url("./proxima-nova-semibold-italic.eot?#iefix") format("embedded-opentype"),
    url("./proxima-nova-semibold-italic.woff2") format("woff2"),
    url("./proxima-nova-semibold-italic.woff") format("woff"),
    url("./proxima-nova-semibold-italic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
