.fold {
  margin: 40px auto;
  width: 40px;
  height: 40px;
  position: relative;
  transform: rotateZ(45deg);
}

.cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  transform: scale(1.1);
}

.square {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  animation: foldCubeAngle 2.4s infinite linear both;
  transform-origin: 100% 100%;
}

.cube:nth-child(2) {
  transform: scale(1.1) rotateZ(90deg);
}

.cube:nth-child(2) .square {
  animation-delay: 0.3s;
}

.cube:nth-child(3) {
  transform: scale(1.1) rotateZ(270deg);
}

.cube:nth-child(3) .square {
  animation-delay: 0.9s;
}

.cube:nth-child(4) {
  transform: scale(1.1) rotateZ(180deg);
}

.cube:nth-child(4) .square {
  animation-delay: 0.6s;
}

@keyframes foldCubeAngle {
  0%, 10% {
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
